* {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: lawngreen;
}

body {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.bordered-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 3px solid lawngreen;
}

.container {
  display: grid;
  gap: 16px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}