* {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: lawngreen;
}

body {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
}

.container .game {
  position: relative;
  transition: transform 0.3s ease ;
}

.container .game:hover {
  transform: translateY(-5px);
}

.container .game img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 3px solid lawngreen;
  transition: transform 0.3s ease;
}

.container .game:hover img {
  box-shadow: 0px 25px 0 -1em rgba(126, 252, 0, 0.30);
}

.container .game .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border: 2px solid lawngreen;
}

.container .game:hover .name {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.container {
  display: grid;
  gap: 16px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.shell {
  margin-top: 1em;
  border: 3px solid lawngreen;
  text-align: left;
  padding: 0.5em;
}

.icon-link {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.icon-link img {
  max-width: 32px;
  max-height: 32px;
}

footer {
  margin-top: 4rem;
  padding: 2rem;
}