.dev-logs {
  text-align: left;
}
 
.log-entry {
  margin-bottom: 4rem;
  text-align: left;
}

.log-entry header {
  margin-bottom: 2rem;
}

.log-entry header h1 {
  margin-bottom: 0.5rem;
}

.log-entry time {
  display: block;
  margin-bottom: 2rem;
}

.log-entry img {
  width: 100%;
  height: auto;
  max-width: 500px;
  aspect-ratio: 16 / 9;
  border: 2px solid lawngreen;
  margin-top: 1rem;
  image-rendering: pixelated;
}

.log-list {
  text-align: center;
}

.log-list h3 {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

iframe {
  margin: 0 auto;
}