---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$game-img-width: 600px;
$game-img-height: 338px;

/* Center and alignment classes */
.center {
  text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.game-entry {
  text-align: center;
  pointer-events: none;
}

.bordered {
  width: 100%;
  max-width: $game-img-width;
  max-height: $game-img-height;
  border: 4px solid white;
  margin: -0.25em auto 2em;
  display: none;
  pointer-events: fill;
}

img.bordered:hover {
  filter: grayscale(100%)
}