---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$game-img-width: 600px;
$game-img-height: 338px;

/* Center and alignment classes */
.center {
  text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.imgEntry {
  border: 3px solid rgba($color: #ffffff, $alpha: 1.0);
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-width: $game-img-width;
  max-height: $game-img-height;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
